.modal-content {
  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;

    text-align: center;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
  }
  .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .description {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    text-align: center;
    letter-spacing: -0.015em;
  }
  .sign-in-btns{
      margin-top: 40px;
      text-align: center;
  }
}
