@import "../../scss/mixins";
$h: 35px;

.search-bar {
  position: relative;
  width: 30%;
  height: $h;
  input {
    height: 100%;
    width: 100%;
    padding: 15px 85px 15px 35px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
  }
  svg {
    left: 5px;
    @include centerVertically;

    position: absolute;
  }
  .search-btn {
    right: 0px;
    height: 100%;
    padding: 0px 20px;
    border-left: 1px solid #000000;
    @include centerVertically;
    line-height: $h;
    position: absolute;
    font-weight: 600;
  }
}
