@import "../../scss/mixins";
$h: 30px;

.search-bar {
  position: relative;
  width: 25%;
  height: $h;
  input {
    height: 100%;
    width: 100%;
    padding-left: 25px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
  }
  svg {
    left: 5px;
    @include centerVertically;

    position: absolute;
  }
  .search-btn {
    right: 5px;
    height: 100%;
    border-left: 1px solid #000000;
    @include centerVertically;
    line-height: $h;
    position: absolute;
  }
}
