@import '../../scss/mixins';
$size: 70px;
$w: 500px;
.slider{
    position: relative;
    .slider-grid {
        display: flex;
        width: $w;
        .photos {
          .photo {
            margin-bottom: 16px;
            filter: blur(1px);
            img {
              height: $size;
              width: $size;
            }
      
            &:first-child {
              filter: blur(0);
            }
      
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
        .selected-photo {
          width: 400px;
          min-height: 100%;
          padding-left: 23px;
          img {
            width: 100%;
            height: 100%;
            @include centerVertically;
          }
        }
      }
      .control{
          display: flex;
          margin-top: 20px;

          .left{
            position: relative;
            left: 100px;
          }
          .right{
            position: absolute;
            right: 80px;
          }
      }
      
}
